* text=auto

/.github            export-ignore
/docs               export-ignore
/demo               export-ignore
/tests              export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/phpunit.xml.dist   export-ignore
/phpstan*           export-ignore
/CHANGELOG.md       export-ignore
/CONTRIBUTING.md    export-ignore
/README.md          export-ignore
/cli-config.php     export-ignore
